@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

@media all {
    body {
        font-family: 'Mukta', sans-serif;
    }
    ul, li {
        list-style: none;
    }
    a {
        color: #176ae7;
        text-decoration: none;
    }    
    a:hover {
        color: #042f70;
    }
    h1 a:hover {
        color: #92b2e2;
    }
    .content_wrapper {
        position: relative;
        margin-top: 0;
    }
    .image_area img {
        display: none; 
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0;
    }
    .content {
        background-color: rgb(198, 228, 249);
        position: absolute;
        width: 100%;
        padding-left: 2%;
    }
    .classification {
        padding: 18px 0 5px;
        list-style: disc;
        font-weight: bold;
    }
}

@media screen and (min-width: 970px) {
    .image_area img {
        display: block;
    }
    .content {
        background-color: rgba(255, 255, 255, 0.7);
        width: auto;
        top: 5%;
        left: 2%;
        padding-left: 0;
        padding-right: 20px;
    }
}

@media print {
    body {
        background-color: transparent;
        background-image: none;
        font-family: "Times New Roman", Times, serif;
    }
}
