@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

@media all {
    body {
        font-family: 'Mukta', sans-serif;
    }
    ul, li {
        list-style: none;
    }
    a {
        color: #2874e7;
        text-decoration: none;
    }    
    a:hover {
        color: #042f70;
        cursor: pointer;
    }
    h1 a:hover {
        color: #92b2e2;
    }
    h2 {
        padding: 15px 0;
        color: rgb(232, 234, 235);
        text-shadow: 2px 1px 2px #2763da;
        text-align: center;
    }
    form {
        margin: 20px 30px;
    }
    form label {
        padding: 5px 0;
    }
    form span {
        font-style: italic;
        font-size: 12px;
    }
    .content_wrapper {
        position: relative;
        margin-top: 0;
    }
    .hidden {
        display: none !important;
    }
    #image_area img {
        display: none; 
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0;
    }
    #content {
        background-color: rgb(198, 228, 249);
        position: absolute;
        width: 100%;
        padding-left: 2%;
    }
    .classification {
        padding: 18px 0 5px;
        list-style: disc;
        font-weight: bold;
    }
    .prompt {
        display: none
    }
    .camera_form label {
        width: 130px;
    }
    .building_form label {
        width: 112px;        
    }
    .playground_form label {
        width: 100px;
    }
    #output_field {
        width: 98%;
        margin: 15px auto;
        padding: 15px;
        border: 1px solid rgb(182, 182, 182);
        box-shadow: 2px 2px 12px rgb(151, 151, 151);
    }
    .card {
        margin: 7px 0;
        padding: 15px;
        border-radius: 3px;
        box-shadow: 2px 2px 8px rgb(116, 128, 155);
    }
    .match_number {
        background-color:#2874e7;
        margin-bottom: 5px;
        padding: 5px 0;
        border-radius: 5px;
        text-align: center;
    }
    .card p {
        display: inline-block;
        margin: 0;
        padding: 1px;
    }
    .camera_p {
        width: 82px;
    }
    .building_p {
        width: 108px;
    }
    .playground_p {
        width: 101px;
    }
    .link_map {
        margin-top: 7px;
    }
}

@media screen and (min-width: 768px) {    
    .prompt {
        background-color: rgba(172, 212, 240, 0.7);
        max-width: 300px;
        min-width: 80px;
        min-height: 38px;
        display: inline-block;
        position: absolute;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .prompt:before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        border: 2px solid #010d41;
        border-radius: 2px;
        clip-path: polygon(0% 105%, 0% 0%, 105% 0%, 105% 105%, 43px 105%, 43px 80%, 21px 80%, 21px 105%);
        content: "";
    }
    .prompt:after {
        background-color:rgb(172, 212, 240, 0.7);
        width: 25px;
        height: 20px;
        position: absolute;
        top: calc(100% - 1px);
        left: 20px;
        box-sizing: border-box;
        clip-path: polygon(0 0, 0% 100%, 100% 0%, calc(100% - 3px) 0, 1px calc(100% - 3px), 1px 0);
        content: "";
    }
    .card {
        margin: 10px 4%;
    }
}

@media screen and (min-width: 970px) {
    #image_area img {
        display: block;
    }
    #content {
        background-color: rgba(255, 255, 255, 0.7);
        width: auto;
        top: 5%;
        left: 2%;
        padding-left: 0;
        padding-right: 20px;
    }
}

@media print {
    body {
        background-color: transparent;
        background-image: none;
        font-family: "Times New Roman", Times, serif;
    }
}
